<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <YAPA.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PeriodWork" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PeriodShortBreak" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PeriodLongBreak" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SoundNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityLevel" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ShadowOpacityLevel" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="TextBrush" serializeAs="String">
                <value>White</value>
            </setting>
        </YAPA.Properties.Settings>
    </userSettings>
</configuration>