<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
    <packageSources>
		<clear />
           <add key="myget yapa2" value="https://www.myget.org/F/yapa2/api/v3/index.json" protocolVersion="3" />
		   <add key="myget floatas" value="https://www.myget.org/F/floatas/api/v3/index.json" protocolVersion="3" />
           <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>